
.adresseBlock {

    margin-top: 15rem;
    

    &_title {
        color: $colorWhiteWriting;
        font-size: 30px;
        text-align: center;
        letter-spacing: 10px;
        margin-bottom: 7rem
    }

    &_maindiv {
        @include displayflexRow;
        width: 90%;
        margin-left: 6rem;


        &_subdiv {
            width: 20%;
            @include displayflexColumn;
            
            &_logo {
                width: 2.8rem;
            }

            &_paragraph {
                width: 50%;
                color: $colorWhiteWriting;
                font-size: 25px;
                text-align: center;
                font-weight: 700;

                &_sub {
                    color: $colorWhiteWriting;
                    font-size: 25px;
                    font-weight: 700;
                }
            } 

            &_under {

                @include displayflexColumn;
                cursor: pointer;

                &_logo {
                    width: 2.8rem;
                }

                &_paragraph {
                    width: 50%;
                    color: $colorWhiteWriting;
                    font-size: 25px;
                    text-align: center;
                    font-weight: 700;
    
                    &_sub {
                        color: $colorWhiteWriting;
                        font-size: 25px;
                        font-weight: 700;
                    }
                } 
            }
        }
    }
}

/* gestion des medias queries */

@media (max-width:1200px) {

    .adresseBlock_maindiv {
        margin-left: 2rem;
    }
    .adresseBlock_maindiv_picture {
        width: 23rem;
    }

    .adresseBlock_maindiv_subdiv_paragraph {
        font-size: 18px;
    }
    .adresseBlock_maindiv_subdiv_under_paragraph_sub {
        font-size: 18px;
    }
    
}

@media (max-width:900px) {

    .adresseBlock_maindiv_picture {
        display: none;
    }

    .adresseBlock_maindiv {
        @include displayflexColumn;
    }

    .adresseBlock_maindiv_subdiv_paragraph {
        font-size: 25px;
        width: 100%;
    }
    .adresseBlock_maindiv_subdiv_under_paragraph_sub {
        font-size: 25px;
    }
    .adresseBlock_maindiv_subdiv {
        width: 100%;
    }
}

@media (max-width:500px) {
    .adresseBlock_maindiv {
        margin-left: 1rem;
    }
}

/* traitement particulier de l'adresse qui est très longue */

.true_adress {
    font-size: 18px;
}