
.menus_part {

    @include displayflexColumn;
    width: 100%;
    &_title {
        text-transform: uppercase;
        color: $colorWhiteWriting;
        text-align: center;
        margin: 5rem 0rem 7rem 0rem;
        font-size: 34px;
        letter-spacing: 10px;
    }
}

/* gestion de smedia query */

@media (max-width:1600px) {
    .menus_part_title {
        font-size: 28px;
    }
   
}