
.irregulomadaire  {

    color: $colorWhiteWriting;
    @include  displayflexColumn;
    

    &_title {
        font-size: 34px;
        margin-bottom: 3rem;
        margin-top: 6rem;
        letter-spacing: 10px;
        width: 70%;
        text-align: center;
    }

    &_presentation {

        width: 70%;

        &_paragraph {
            font-size: 24px;
            width: 50%;
            font-weight: 700;
        }

        &_picture {
            width: 100%;
        }
    }

    &_numero {

        margin-top: 5rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        column-gap: 5rem;
        row-gap: 3rem;

        &_link {
            border: 2px white solid;
            border-radius: 10px;
            padding: 1rem;
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            font-size: 20px;
            text-decoration: none;
            color: $colorWhiteWriting;
            transition: 0.5s;
        }
        &_link:hover {
            transform: scale(1.2);
        }
    }
}

/* gestion des medias queries */

@media (max-width:1050px) {

    .irregulomadaire_title {
        font-size: 22px;
        letter-spacing: 5px;
        text-align: center;
        margin-bottom: 0rem;
    }

    .irregulomadaire_presentation_paragraph {
        font-size: 24px;
        font-weight: 400;
        width: 100%;
        
    }

    .irregulomadaire_numero {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width:780px) {
    .irregulomadaire_numero {
        grid-template-columns: 1fr 1fr;
    }
}