
.mapping {

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items:center;
    width: 80%;
    column-gap: 5rem;
    row-gap: 5rem;

}

/* gestion des medias queries */

@media(max-width:1050px) {

    .mapping {
        width:90%;
        display: flex;
        flex-direction: column;
        
    }
    
}

@media(max-width:700px) {
    .mapping {
        row-gap: 1rem;
    }
    
}