
.mentions {
    color: $colorWhiteWriting;
    @include displayflexMentionsLegales;
    padding-top: 25rem;
    width: 85%;
    margin-left: 8rem;
    font-size: 24px;

    
    &_title {
        margin: 0%;
    }
}

/* Gestion des medias query */

@media(max-width:1100px) {

    .mentions{
        margin-left: 4rem;
    }
}

@media(max-width:600px) {

    .mentions_title {
        font-size: 22px;
        letter-spacing: 10px;
    }

    .mentions_subtitle {
        font-size: 20px;
        letter-spacing: 10px;
    }

    .mentions_paragraph {
        font-size: 16px;
    }
    
}