
.brown_bare {

    background-color: $brownElement;
    width: 75%;
    height: 5px;
    border: none;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.brown_bare2 {
    background-color: $brownElement;
    width: 75%;
    height: 5px;
    border: none;
    margin-top: 8rem;
    margin-bottom: 0rem;
}