
.article {

    @include displayflexRow;
    width: 100%;
    margin-top: 6rem;
    margin-bottom: 10rem;

    &_card {
        background-color: $colorBackgroundCard;
        height: 30rem;
        width: 20rem;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &_order_button {
            text-align: center!important;
            color: white;
            font-size: 23px;
        }

        &_picture {
            width: 100%;
            height: 100%;
        }

        &_subtitle {
            color: $colorWritingCard;
            text-align: center;
            font-size: 28px;
            font-weight: 700;
        }

        &_paragraph {
            padding: 0px 20px;
            color: $colorWhiteWriting;
            text-align: center;
            font-size: 21px;
        }

        &_information {
            color: $colorWhiteWriting;
            padding: 0px 20px;
            text-align: center;
            margin-top: 1rem;
            font-size: 21px;
            font-weight: 500;
        }

        &_shortText {
            display: flex;
            margin-top: 25%;
        }
    }
}

/* gestion des medias queries */

@media(max-width:1100px) {

    .article {

        &_card {
            width: 17rem;
    
            &_subtitle {
                font-size: 24px;
            }
    
            &_paragraph {
                font-size: 20px;
            }
            &_information {
                font-size: 20px;
                font-weight: normal;
            }

            &_shortText {
                font-size: 22px;
            }
        }
    }
}

@media(max-width:860px) {

    .article {
        @include displayflexColumn;
        row-gap: 2.5rem;
        margin-bottom: 5rem;
        &_card {
            width: 90%;
            height: 16rem;
            &_subtitle {
                font-size: 24px;
            }
    
            &_paragraph {
                font-size: 20px;
            }

            &_information {
                font-size: 20px;
                font-weight: normal;
                font-size: 18px;
            }

            &_shortText {
                margin-top: 6%;
                text-align: center;
            }
        }
    }

    .article_card:nth-child(2) {
        display: none;
    }
}

@media (max-width: 700px) {


    .article {
        @include displayflexColumn;
        row-gap: 2.5rem;
        margin-bottom: 5rem;

        &_card {
            width: 90%;
            height: 16rem;
            overflow-y:auto;
            
            
            &_subtitle {
                font-size: 24px;
            }
    
            &_paragraph {
                font-size: 18px;
            }
       }
}}

@media(max-width:600px) {

    .article {
        @include displayflexColumn;
        row-gap: 2.5rem;
        &_card {
            width: 90%;
            height: 14rem;
            
            &_subtitle {
                font-size: 20px;
            }
    
            &_paragraph {
                font-size: 16px;
            }

            &_shortText {
                margin-top: 10%;   
            }

            &_information {
                font-size: 16px;
            }
        }
    }

    .article_card:nth-child(2) {
        display: none;
    }
}

@media (max-width: 475px) {

    .article_card {
    
        width: 90%;
        padding: 0%;
        overflow-y:scroll!important;
    }

}

/*@media (max-width:375px) {
    .article_card_subtitle {
        margin: 1rem;
    }
}*/