 .main_display {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
    display: none;
 }
 .display {

    width: 70%;
    margin-bottom: 5rem;

    &_upperpart {

        display: flex;
        width: 100%;

        &_icons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 33%;
            row-gap: 2rem;
            
            &_picture {
                width: 12rem;
                cursor: pointer;
                transition: 0.5s;
            }

            &_picture:hover {

                transform: scale(1.1);
            }

            &_paragraph {
                color: $colorWhiteWriting;
                font-size: 25px;
                margin-top: 0%;
                margin-bottom: 3%;
                font-weight: 700;
            }
        }
    }

    &_paragraph {
        @include displayFlexGoogleMap;
        background-color: $colorBackgroundCard;
        border-radius: 25px;
        margin-top: 1rem;
        position: relative;
        height: 15rem;
        img {
            width: 12rem;
            opacity: 0.2;
            position: absolute;
            top: 10%;
            right: 42%;
        }

        &_text {
            @include displayFlexGoogleMap;
            width: 85%;
            color: white;
            font-size: 30px;
            padding-right: 5rem;
        }

        &_name {
            width: 15%;
            color: white;
            font-size: 30px;
            padding-left: 5rem;
            padding-right: 5rem;
            white-space: nowrap;
        }
    }
 }

/* gestion des medias query */

 @media (max-width: 1800px) {
    .main_display {
        display: flex;
    }
}

@media (max-width:1500px) {
    .display_paragraph_text, .display_paragraph_name {
        font-size: 24px;
    }

    .display_paragraph {
        img {
            right: 38%;
        }
    }
}

@media(max-width:1050px) {

    .display_upperpart_icons_picture{
        width:8rem;
    }

    .display_paragraph {
        height: 12rem;
        
        &_text {
            font-size: 18px;
            padding: 1rem;
        }

        img {
            width: 9rem;
            right: 40%;
        }

        &_name {
            width: 8%;
            padding-left: 2rem;
        }
    }
}

@media (max-width:700px) {

    .display_upperpart_icons_picture{
        width:6rem;
    } 

    .display_paragraph {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            right: 35%;
        }
    }

    .display_paragraph_text, .display_paragraph_name {
        font-size: 16px;
    }
    .display_paragraph_text {
        margin-top: 0%;
        padding-top: 0%;

    }

    .display_upperpart_icons_paragraph {
        font-size: 18px;
    }

    .display_paragraph_name {
        padding-top: 2rem;
        padding-left: 0%;
        font-size: 24px;
    }
    
}

@media (max-width:500px) {

    .display_paragraph {
        
    }
    .display_paragraph_text {
        font-size: 14px;
    }

    
}

@media (max-width:420px) {
    .display_upperpart_icons_picture {
        width: 80%;
    }

    .display_paragraph {
        img {
            right: 25%;
        }
    }
}