.dropdown {

    height: 40px;
    border: 2px $brownElement solid;
    border-radius: 15px;
    height: fit-content;
    width: 100%;
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &_visible_part {
        background-color: $colorBackgroundCard;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 2rem 0rem 2rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

        &_title {
            color: $colorWhiteWriting;
        }

        &_cursor {
            width: 30px;
            height: 30px;
            transition: transform 1s ease;
            cursor: pointer;
        }

        
    }

    &_invisible_part {

        background-color: $colorBackgroundCard;
        padding: 1rem;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: none;
        animation : heightOnex 2s ;
        overflow: hidden;
        height: 17rem;
        overflow-y: auto;
        margin-top: -0.5rem;
        text-overflow: ellipsis;
        
        &_paragraph {
            display: flex;
            flex-direction: column;
            height: max-content;
            content-visibility: auto;
            font-size: 22px;
            line-height: 25px;
            padding: 1rem;
            font-weight: 600;

            &_list {
                margin: 0.2rem;
            }

            &_span {
                color: $colorWhiteWriting;
            }
        }

        &_concurrent {
            font-size: 1.5rem;
            display: grid;
            grid-template-columns: 1fr 1fr;

            &_list {
                list-style-type: none;
                padding-left: 2%;
                font-size: 1.5rem;

                &_name {
                    color: $colorWhiteWriting;
                    font-weight: 700;
                    
                }

                &_link {
                    color: $colorWhiteWriting;
                    text-decoration:none;
                    cursor: pointer;
                    
                    &_span {
                        width: auto;
                        transition: 1 ease;
                    }
                    &_span:hover {
                        text-decoration: underline;
                        transform: scale(1.05);
                    }
                }
                
            }
        }
    }
}

.rotation {
    transform: rotate(-180deg);
}

@media (max-width: 780px) {

    .dropdown {
        width: 100%;
    }
}

@media (max-width: 500px) {

    .dropdown {

        &_visible_part {
            height: 3rem;
        }
        
        &_visible_part_title {
            margin: 0%;
            margin-top: 0.3rem;
        }
    }
}


// mise en page pour les image et textes du quatrième menu 

.imageMainDiv {

    @include displayflexColumn;

    margin-top: 2rem;
        &_div {

            @include displayFlexGoogleMap;
            &_paragraph {
                color: $colorWhiteWriting;
                font-size: 25px;
                font-weight: 700;
            }

            &_link {
                @include displayflexRow;
                text-decoration: none;
                cursor: pointer;
                &_picture {
                    width: 20%;
                    margin-left: 5rem;
                }

                &_picture2 {
                    width: 45%;
                    margin-right: 5rem;
                }
            }
        }    
}

/* gestion des medias queries */

@media (max-width:700px) {

    .dropdown_visible_part_title{
        font-size: 14px;
    }

    .dropdown_invisible_part_paragraph_span {
        font-size: 14px;
        padding: 1rem;
        
    }

    .dropdown_invisible_part_concurrent_list_link_span {
        font-size: 14px;
    }

    .dropdown_invisible_part_concurrent_list_name {
        font-size: 18px;
    }
    
    
}

@media (max-width:420px) {

    .imageMainDiv_div {
        justify-content: center;
        padding-right: 1rem;
    }
    .imageMainDiv_div_paragraph {
        font-size: 18px;
        padding-left: 2rem;
        
    }
    .imageMainDiv_div_link_picture2 {
        width: 35%;
        margin-right: 3rem;
    }
    
    
}




