
.second_title {
    @include classicalDisplayflexRow;
    justify-content: center;
    column-gap: 5rem;
    height: 15rem;
    margin-top: 16rem;
    color: $colorWhiteWriting;
    font-weight: bold;


    &_picture {
        width: 9rem;
    }

    &_sub {
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 10px;
    }
}

.second_title_vente {
    margin-top:  5rem;
    column-gap: 5rem;
    
}

/* gestion de smedias queries */

@media (max-width:800px) {
    .second_title {
    
        &_sub {
            font-size: 22px;
        }
    }
}

@media (max-width:620px) {
    .second_title {
    @include displayflexColumn;
    column-gap: 3rem;
    
        &_picture {
            width: 7rem;
        }
    
        &_sub {
            font-size: 22px;
        }
    }
}