
.second_column {
    @include classicalDisplayflexRow;
    width: 75%;
    margin-bottom: -1rem;
    margin-right: 4rem;

    &_span {
        @include displayflexColumn;
        min-width : 10%;
        padding-bottom: 2.5rem;
    }
    &_title {
        font-size: 18px;
    }
    &_logo {
        width: 5rem;
        cursor: pointer;
    }

    &_cursor {
        width: 2rem;
        margin-left: 3.5rem
    }

    &_presentation {
        @include displayflexRow;
        background-color: rgba($color: #7D2005, $alpha: 0.9);
        border: $colorBorderPresentation 2px solid;
        border-radius: 20px;
        padding-left: 1rem;
        width: 70%;

        &_paragraph {
            padding: 1.5rem;
        }

        &_logo {
            width: 7rem;
            margin-right: 1.5rem;
        }
    }
}