
.vitrine {
    position: relative;
    margin-top: 8rem;
    &_main_title {
        text-align: center;
        font-size: 25px;
    }

    &_picture {
        position: absolute;
        top: 4rem;
        left: 18.5%;
        border : 2px solid #F1CC88;
        border-radius: 20px;
        /*z-index: 1;*/
        img {
            width: 120%;
            /*z-index: 1;*/
        }
    }
}
.vitrine_first_column {
    position: absolute;
    top: 6rem;
    background-color: $colorBackground;
}
.vitrine_second_column {

    position: absolute;
    top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    
}