
.vitrine {

    margin-top: 8rem;
    min-width: 1824px;
    &_main_title {
        text-align: center;
        font-size: 25px;
    }


    &_picture {

        @include displayflexRow;
        margin-top: -50%;
        img {
            width: 62%;
            height: 60rem;
            border-radius: 20px;
            border : 4px solid #F1CC88;
        }
    }
}
.vitrine_first_column {

    background-color: $colorBackground;
}
.vitrine_second_column {
    margin-top: -60rem;
    /*padding-left: 20rem;*/
    display: flex;
    flex-direction: column;
    align-items: end;
    
}