
.main_erreur {
    /*position: relative;*/
}



.erreur {

    color: $colorWhiteWriting;
    height: 5vh;
    padding-top: 30rem;
    text-align: center;
    margin: 0rem;
    /*position: absolute;*/
}