
.landingpage {
    
    height: 100%;
    background-color: $colorBackground;
    color: $colorWhiteWriting;

    &_main {
        font-size: 45px;
    }

    &_texte {
        @include displayflexColumn;
    }


    &_title {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 70%;
        font-size: 30px;
    }

    &_texte_presentation {
        
        width: 70%;
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 7rem;
        &_strong {
            font-size: 28px;
            font-weight: 900;
            margin-right: 1rem;
        }
    }

    &_quote {
        color: $colorWhiteWriting;
        font-size: 20px;
        text-align: end;
        padding-right: 2rem;
        font-weight: bold;
        font-style: italic;
    }
}

.centerflex {
    @include displayflexColumn;
    font-size: 22px;
};

.renvoie {
    margin-left: 0rem;
}

/* Gestion des medias queries */

@media (max-width: 1000px) {

    .landingpage {

        &_main {
            font-size: 30px;
        }

        &_title {
            font-size: 22px;
        }

        &_texte_presentation p {
            font-size: 18px;
        }

        &_texte_presentation p strong {
            font-size: 22px;
        }
    }
}

@media (max-width: 600px) {
    .landingpage {

        &_main {
            font-size: 25px;
        }

        &_title {
            font-size: 20px;
        }

        &_texte_presentation p {
            font-size: 16px;
        }

        &_texte_presentation p strong {
            font-size: 20px;
        }

        &_quote {
            font-size: 18px;
        }
    }
}