$colorWhiteWriting : white;
$colorBackground : #E7B453;
$brownElement : #8D3B14;
$colorBorderPresentation : white;
$colorBackgroundCard : #000;
$colorWritingCard : #F39334;
$colorTitle : white;
$backgroundMainGalery : #f6f6f6;
$borderDropdownMenu : #E6BF55;